/* Space out content a bit */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 10px;
  padding-left: 10px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 30px;
  color: #777;
  border-top: 1px solid #db4197;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 15px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 0px solid black;
  background: black;
}
.jumbotron {
  padding: 10px 10px;
  
}
.btn {
  margin: 5px;
  padding: 10px 24px;
  font-size: 16px;
  border-color: white;
  background: transparent;
  border-width: 2px;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-weight: 300;
  /*background: red; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(left, #db4197, #00f0ff); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(right, #db4197, #00f0ff); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(right, #db4197, #00f0ff); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to right, #db4197, #00f0ff); /* Standard syntax */
}

.btn:hover{
  color: black;
  background: white;
}


h1 {
  font-size: 2em;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 300;
  background: -webkit-linear-gradient(right, #00f0ff, #5c3494, #db4197);
  background: -o-linear-gradient(right, #00f0ff, #5c3494, #db4197); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #00f0ff, #5c3494, #db4197); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #00f0ff, #5c3494, #db4197); /* Standard syntax */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



h2 {
  font-size: 2em;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 300;
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
  
}


h3 {
  font-size: 1.5em;
  font-weight: 400;
  color: white;
  
}

p{
  font-size: 1em;
  font-weight: 300;
  color: white;
}

.ico-color {
  background: -webkit-linear-gradient(#db4197, #5c3494, #00f0ff);
  background: -o-linear-gradient(#db4197, #5c3494, #00f0ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#db4197, #5c3494, #00f0ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#db4197, #5c3494, #00f0ff); /* Standard syntax */
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.block-info-1 {
    position: relative;
}

.block-info-1 i {
    font-size: 30px;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 0;
    top: 50%;
}
.block-info-1 p {
    margin-left: 40px;
    padding-top: 10px;
}
.block-info-2 {
    position: relative;
}

.block-info-2 i {
    font-size: 30px;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 0;
    top: 50%;
}
.block-info-2 p {
    margin-left: 40px;
    padding-top: 10px;
}
.block-info-3 {
    position: relative;
}

.block-info-3 i {
    font-size: 32px;
    position: absolute;
    padding-left: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    left: 0;
    top: 42%;
}
.block-info-3 p {
    margin-left: 40px;
    padding-top: 10px;
}

p span {
    display: block;
    position: relative;
    top: -2px;
}
.event-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Supporting marketing content */
.marketing {
  margin: 20px 0;
}
.marketing p + h4 {
  margin-top: 20px;
}

h2 + p {
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 1.2px;
  font-weight: 400;
  background: -webkit-linear-gradient(right, #db4197, #5c3494, #00f0ff);
  background: -o-linear-gradient(right, #db4197, #5c3494, #00f0ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #db4197, #5c3494, #00f0ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #db4197, #5c3494, #00f0ff); /* Standard syntax */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  margin-top: 10px;
  
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


